@import 'styles/theming';

.header {
  // Outer
  position: fixed;
  background: $theme;

  & * a:hover {
    color: $accent;
  }

  .menuButton {
    color: $off-white;
  }

  .navbar {
    ul {
      list-style: none;
      display: inline-flex;
      flex-direction: row;
      li {
        &:not(:last-child) {
          padding-right: 0.75rem;
        }

        a {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          span {
            margin-right: 0.25rem;
          }
        }
      }
    }

    align-self: center;
  }

  // Basic properties
  color: $off-white;
  width: 100%;
  padding: $innerPadding 0;
}

.headerLinkText {
  font-family: $headerFont;
  font-size: 1.5rem;
  font-weight: 400;
}
