@import 'styles/theming';

.cardPageWrapper {
  margin: 0 auto;
}

.modernPageWrapper {
  h2,
  h3,
  h4,
  h5 {
    font-family: $headerFont;
    font-weight: 400;
    color: $content;
  }
  a:hover {
    color: $accent;
  }
  .modernPageIcon {
    font-size: 3rem;
  }
  padding: $innerPadding;
  margin: 0 auto;
  max-width: $innerMaxWidth;
}

.pageWrapper {
  margin: 0 auto;
  padding: $innerPadding;
}
