body {
	margin: 0;
	padding: 0;
	background: #ccc;
}

.header {
	padding: 1rem;
	margin-bottom: 2rem;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
}

.header>* {
	flex: 1 1 auto;
}

h1, h2, h3, a {
	color: #6699CC;
}

li i.material-icons {
	font-size: 1rem;
}

li a {
	color: #48646E;
}

p {
	color: #393939;
}

h1, h2, h3, .top-button a {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
}

h1 {
	padding-left: 1rem;
	font-size: 2rem;
}

h2 {
	font-size: 1.6rem;
}

h2 i.material-icons {
	font-size: 1.4rem;
}

h3 {
	font-size: 1.4rem;
}

h3 i.material-icons {
	font-size: 1.2rem;
}

p, p a, li {
	font-family: 'Raleway', sans-serif;
	font-size: 1.2rem;
	line-height: 1.8rem;
}

a {
	text-decoration: none;
}

.wrap {
	z-index: 5;
	min-width: 200px;
	max-width: 800px;
	min-height: 100vh;
	padding: 0 0.5rem;
	background: #efefef;
	overflow: hidden;
	box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
}

.img-face {
	flex: 0 0 auto;
	background: url('./assets/00-doodle-face.png') no-repeat;
	background-size: contain;
	border-radius: 50%;
	height: calc(540px / 8);
	width: calc(540px / 8);
}

.header ul {
	flex: 1 1 auto;
	text-align: right;
	list-style: none;
	margin: 0;
	padding: 0;
}

.header ul li {
	display: inline-block;
	margin: auto;
	padding: 0 0.5rem 0 0.5rem;
	font-size: 1.6rem;
}

.section {
	margin: 3rem 1rem;
	border-left: 1px solid #6699CC;
	padding-left: 1rem;
}

ul.project-list {
	list-style-type: none;
	padding: 0 1rem;
}

ul.project-list li {
	margin-bottom: 0.5rem;
}

.footer {
	padding: 0 1rem;
	margin: 0;
	margin-top: 5rem;
	text-align: center;
}

/* Face box is produced below. */

.face-box {
	position: relative;
	display: block;
	margin: auto;
	width: 300px;
	height: 300px;
	border-radius: 100%;
	background: white;
	z-index: 1;
	box-shadow: 0px 4px 5px rgba(0,0,0,0.25);
}

.face-bg {
	overflow: hidden;
	background: rgb(153,204,153);
	background: linear-gradient(180deg, rgba(153,204,153,1) 0%, rgba(242,119,122,1) 100%);
	height: 300px;
	width: 300px;
	border-radius: 100%;
}

.head, .ear-left, .ear-right, .eye-left, .eye-right, .glasses, .glasses-right, .glasses-centre, .glasses-left, .hair, .mouth, .tongue, .neck, .shirt {
	position: relative;
}

.head {
	background: #F2CFBF;
	border-radius: 100%;
	height: 150px;
	width: 130px;
	z-index: 20;
	margin: auto;
	top: -140px;
}

.hair {
	background: #634333;
	border-radius: 100%;
	height: 140px;
	width: 140px;
	top: -10px;
	margin: auto;
}

.hair-top {
	background: #634333;
	border-radius: 100% 30% 100% 100%;
	height: 40px;
	width: 110px;
	margin: auto;
	top: -60px;
}

.ear-left, .ear-right {
	border-radius: 100%;
	background: #E2BFAF;
	z-index: 11;
	height: 40px;
	width: 40px;
}

.ear-left {
	top: 140px;
	left: 70px;
}

.ear-right {
	top: 100px;
	left: 190px;
}

.eye-left, .eye-right {
	background: #393939;
	border-radius: 50%;
	height: 20px;
	width: 20px;
}

.eye-left {
	top: 20px;
	left: 24px;
}

.eye-right {
	top: 0px;
	left: 85px;
}

.mouth {
	background: #222222;
	top: 20px;
	height: 20px;
	width: 40px;
	margin: auto;
	border-radius: 0 0 150px 150px;
	overflow: hidden;
}

.tongue {
	background: #F3A3A3;
	top: 10px;
	height: 40px;
	margin: auto;
	border-radius: 100%
}

.glasses, .glasses-left, .glasses-centre, .glasses-right {
	z-index: 33;
}

.glasses {
	top: -50px;
}

.glasses-centre {
	background: #232323;
	height: 6px;
	width: 30px;
	top: -24px;
	margin: auto;
}

.glasses-left, .glasses-right {
	border-color: #232323;
	width: 30px;
	height: 30px;
	border-width: 5px;
	border-style: solid;
	background: transparent;
	border-radius: 100%;
}

.glasses-left {
	top: 0;
	left: 14px;
}

.glasses-right {
	top: -46px;
	left: 76px;
}
.neck {
	border-radius: 40%;
	height: 30px;
	width: 20px;
	z-index: 11;
	margin: auto;
	top: -150px;
	background: #E2BFAF;
}

.shirt {
	border-radius: 100%;
	height: 200px;
	width: 120px;
	z-index: 10;
	margin: auto;
	top: -166px;
	background: #6699cc;
}
