@import 'styles/theming';

.cardWrapper {
  background: $theme;
  display: flex;
  flex-direction: column;
}

.cardFrame {
  // Outer
  align-self: center;
  min-width: $maxWidth;
  overflow: hidden;

  // Inner
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  border: 1px solid $theme;
  padding: 0;
}

.cardHeader {
  background: $theme;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  .cardIcons {
    color: $off-white;
    align-self: flex-end;
  }

  h2 {
    margin: 12px;
    font-size: 1.8rem;
    line-height: 4rem;
    text-align: center;
    color: $highlight;
  }
}

.cardBody {
  // Outer
  width: 100%;
  height: 100%;
  align-self: stretch;

  // Inner
  padding: $innerPadding;
  align-items: normal;
  background: $off-white;
  border-radius: $outerRadius;
}
