@import 'styles/theming';

.headerContainer,
.main,
.footerContainer {
  margin: 0 auto;
  width: 100%;
}

.main {
  position: relative;
  margin-top: calc(1rem + 92px);
  margin-bottom: calc(1rem + 48px);
  a {
    color: $accent;
    font-weight: 600;
  }
}
