@import 'styles/theming';

.miniCardFrame {
  border: 1px solid $content;
  padding: $innerPadding;
  border-radius: $outerRadius;
}

.miniCardTitle h3 {
  font-size: 1rem;
  font-weight: 400;
}

.miniCardSubtitle {
  color: $faded;
}

.miniCardFooter {
  display: flex;
  justify-content: flex-end;
  padding-top: $innerPadding;
}
