@import 'styles/theming';

.miniCardFrame {
  border: 1px solid $accent;
  padding: $innerPadding;
  border-radius: $outerRadius;
  background: $off-white;
}

.miniCardTitle h3 {
  font-family: $headerFont;
  color: rgba(0, 0, 0, 0.87);
  font-size: 1.6rem;
  font-weight: 400;
}

.miniCardSubtitle {
  color: $faded;
}

.miniCardFooter {
  display: flex;
  justify-content: flex-end;
  padding-top: $innerPadding;
}
