@import 'styles/theming';

.postOuterWrapper {
  h3,
  h4 {
    font-family: $headerFont;
  }

  padding: $innerPadding;
  background: $innerBacking;
  border-radius: 12px;
  max-width: $maxWidth;
  margin: 0 auto;
}

.postsInnerWrapper {
  margin-top: 1rem;
}

.postsList {
  list-style: none;
}
