@import 'styles/theming';

.postOuterWrapper {
  h3,
  h4 {
    font-family: $headerFont;
  }

  padding: $innerPadding;
  border: 2px solid red;
  max-width: $maxWidth;
  margin: 0 auto;
}

.postsInnerWrapper {
  margin-top: 1rem;
}

.postsList {
  list-style: none;
  padding-left: 0;
}
