@import 'styles/theming';

$cardHeaderShadow: 0px 2px 4px rgba(0, 0, 0, 0.54);

.cardWrapper {
  display: flex;
  flex-direction: column;
  position: relative;
}

.cardFrame {
  // Outer
  align-self: center;
  width: 100%;
  overflow: hidden;

  // Inner
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.cardBackground {
  min-height: 100vh !important;
  z-index: 0;
  filter: blur(10px);
}

.cardHeader {
  z-index: 1;
  background: transparent;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10rem;

  .cardIcon {
    color: $off-white;
    font-size: 2.4rem;
    margin: 0 0.5rem;
    z-index: 2;
    text-shadow: $cardHeaderShadow;
  }

  h2 {
    line-height: 6rem;
    font-weight: 400;
    font-size: 2rem;
    text-align: center;
    color: $off-white;
    text-shadow: $cardHeaderShadow;
  }
}

.cardBody {
  // Outer
  z-index: 2;
  width: 100%;
  max-width: $maxWidth;
  margin: 0 auto 1rem auto;
  border-radius: 12px;

  // Inner
  padding: $innerPadding;
  // align-items: center;
  background: $off-white;
  .cardBodyContent {
    z-index: 3;
    max-height: 100%;
    max-width: $innerMaxWidth;
    margin: 1rem auto;
  }
}
