@import 'styles/theming';

.cardWrapper {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

.cardFrame {
  // Outer
  align-self: center;
  min-width: $maxWidth;
  overflow: hidden;

  // Inner
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  padding: 0;
  margin: 10px 0;
}

.cardHeader {
  background: $content;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: $outerRadius $outerRadius 0 0;

  .cardIcon {
    color: $off-white;
  }

  h2 {
    margin: 1rem 0.5rem;
    font-size: 1.4rem;
    text-align: center;
    color: $off-white;
  }
}

.cardBody {
  // Outer
  width: 100%;
  height: 100%;
  align-self: stretch;

  // Inner
  padding: $innerPadding;
  align-items: normal;
  background: $off-white;
  border-radius: 0 0 $outerRadius $outerRadius;
  .cardBodyContent {
    max-width: $innerMaxWidth;
  }
}
