@import 'styles/theming';

.footer {
  // Outer
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  min-height: 32px;
  height: 3rem;

  // Inner
  display: flex;
  justify-content: center;
  align-items: center;

  // Theming
  background: $theme;
  color: $off-white;
}
