@import 'styles/theming';

.headerWrapper {
  background: $theme;
  display: flex;
  flex-direction: column;
}

.header {
  max-width: $maxWidth;
  align-self: center;

  .headerTitle {
    h1 {
      font-size: 1.8rem;
      text-align: center;
    }
  }

  .navbar {
    ul {
      list-style: none;
      li {
        display: inline;
        a {
          font-family: $headerFont;
          font-weight: 600;
          font-size: 1.4rem;
          padding-left: 1rem;
        }
      }
    }

    align-self: center;
  }

  a:hover {
    color: $accent;
  }

  // Flex
  display: flex;
  justify-content: space-between;
  flex-direction: row;

  // Basic properties
  color: $off-white;
  width: 100%;
  padding: $innerPadding 0;
}
