@import 'styles/theming';

$spacer: 16px;
$innerPadding: 16px;

.headerWrapper {
  background: $content;
  display: flex;
  flex-direction: column;
}

.header {
  max-width: $maxWidth;
  align-self: center;
  height: 84px;

  .headerTitle {
    h1 {
      font-size: 1.4rem;
      text-align: center;
    }
  }

  .navbar {
    ul {
      list-style: none;
      li {
        display: inline;
        a {
          padding-left: 12px;
          font-size: 1.4rem;
          font-weight: 600;
        }
      }
    }

    align-self: center;
  }

  a:hover {
    color: $accent;
  }

  // Flex
  display: flex;
  justify-content: space-between;
  flex-direction: row;

  // Basic properties
  color: $textDark;
  width: 100%;
  padding: $spacer;
}
