@import './theming';

html,
body {
  background: $backing;
  padding: 0;
  margin: 0;
  font-family: $baseFont;
  font-weight: 400;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  font-family: $headerFont;
  font-weight: 600;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
