.container {
  margin: 0 auto;
  max-width: 42em;
}

.main {
  border: 5px solid #5478db;

  min-height: 32em;
  height: 92vh;
  padding: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.header {
  /* border: 5px solid #37a870; */
  width: 100%;
  padding: 1rem;
}

.footer {
  /* border: 5px solid #a23fc0; */
  display: flex;
  flex: 1;
  padding: 0.5rem 0;
  justify-content: center;
  align-items: center;
}

.footer p {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.footer a {
  color: #214772;
  font-weight: 600;
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  text-align: center;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}
