$innerBacking: #50505a;
$backing: #303030;
$accent: #f0bc42;
$highlight: #f6f6f6;
$content: #6699cc;
$off-white: #fafafa;
$theme: #3f5077;
$textDark: rgba(0, 0, 0, 0.87);
$faded: rgba(0, 0, 0, 0.54);

$borderWidth: 4px;
$outerPadding: 32px;
$outerRadius: 12px;
$innerPadding: 16px;

$maxWidth: 1800px;
$innerMaxWidth: calc($maxWidth - $outerPadding);

$headerFont: 'Josefin Sans', sans-serif;
$baseFont: 'Roboto', sans-serif;

$size_1: 4px;
$size_2: 8px;
$size_3: 16px;
$size_4: 24px;
$size_5: 36px;
$size_6: 42px;
