$backing: #d6d6d6;
$accent: #f0bc42;
$highlight: #f6f6f6;
$content: #6699cc;
$off-white: #fafafa;
$theme: #3f5077;
$textDark: rgba(0, 0, 0, 0.87);
$faded: rgba(0, 0, 0, 0.54);

$borderWidth: 4px;
$outerPadding: 32px;
$outerRadius: 12px;
$innerPadding: 16px;

$maxWidth: 1200px;
$innerMaxWidth: calc($maxWidth - $outerPadding);

$headerFont: 'Raleway', sans-serif;
$baseFont: 'Roboto', sans-serif;
